.root {
    -fx-font-size:13pt;
    -fx-background-color:#FFEBCD;
}

.label {
    -fx-text-fill:black;
    -fx-font-weight:bold;
}
.button{
    -fx-background-radius:20px;
    -fx-background-color:orange ;
}